<div class='movie-info'>
  <img class='poster' src={{poster}} />
  <div class='info'>
    <h3 class='movie-title'>{{title}}</h3>&nbsp;<span>({{rating}})</span><br />
    {{showtimes}}
  </div>
</div>
