{{#each filteredMovies as |movie|}}
  <div class='movie-item'>
    {{movie-preview poster=movie.movie.poster title=movie.movie.title rating=movie.movie.rating showtimes=movie.showtimes}}
  </div>
{{/each}}

