.movie-form {
 max-width: 760px;
 padding: 75px;
 margin: 0 auto;
}
.movie-title {
  display: inline;
}

.movie-info {
  display: inline-block;
  text-align: center;
}

.info {
  vertical-align: middle;
  display: inline-block;
}

.theater-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 12px;
}

.theater-item {
  float: left;
  padding: 10px;
  font-size: 133%;
  cursor: pointer;
}

.movie-list {
  margin-top: 70px;
  display: block;
  background-color: white;
  border-style: solid;
  border-width: thin;
  width: 100%;
}

.movie-item {
  padding: 18px;
}

.active-theater {
  color: #fa8b38;
  border-bottom: solid;
}

.poster {
  width: 198px;
  height: auto;
}

.container-fluid {
  background-color: #f0f0f0;
}

.movie-search {
  width: 100%;
  height: 42px;
  font-size: 22px;
}

.passed-showtimes {
  color: gray;
}

@media screen and (max-width: 550px) {
  .poster {
    width: 348px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }

  .theater-item {
    display: block;
    width: 100%;
    background-color: white;
    margin-bottom: 8px;
  }

  .active-theater {
    background-color: #fa8b38;
    color: white;
    border: none;
  }

  .movie-list {
    margin-top: 194px;
  }

  .movie-item {
    padding: 18px 0px 0px 0px;
  }

  .movie-info {
    display: block;
    margin: 0 auto;
    width: 99%;
  }

  .movie-form {
    padding: 2px;
  }
}

/*@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");/*!*/


