.movie-title {
  display: inline;
}

.movie-info {
  display: inline-block;
}

.info {
  vertical-align: middle;
  display: inline-block;
}

.theater-list {
  list-style: none;
}

.theater-item {
  float: left;
  padding: 10px;
  font-size: 133%;
  cursor: pointer;
  /*flex-direction: row;*/
}

.movie-list {
  margin-top: 60px;
  margin-left: 37px;
  display: block;
  background-color: white;
  max-width: 730px;
  border-style: solid;
  border-width: thin;
}

.movie-item {
  padding: 18px;
}

.active-theater {
  color: #fa8b38;
  border-bottom: solid;
}

.poster {
  width: auto;
  height: auto;
  max-width: 227px;
  max-height: 314px;
}

.container-fluid {
  background-color: #f0f0f0;
}

@media screen and (max-width: 550px) {
  .poster {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }

  .theater-item {
    display: block;
    width: 100%;
    background-color: white;
    margin: 4px;
  }

  .active-theater {
    background-color: #fa8b38;
    color: white;
    border: none;
  }

  .movie-list {
    margin-top: 194px;
  }
}

/*@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");/*!*/


