<ul class='theater-list'>
  {{#each model.theaters as |theater|}}
    <li {{action 'selectTheater' theater on='click'}} class='theater-item {{selected-theater theater selectedTheater}}'>{{theater.upName}}</li>
  {{/each}}

  {{#if selectedTheater}}
    {{theater-showtimes showtimes=selectedTheater.showtimes}}
  {{/if}}
</ul>
